/* .box {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-top: 10px;
}

.active {
    background-color: orange;
} */

/* #result {
    width: 200px;
    height: 200px;
    margin-top: 20px;
} */

/* #text {
    display: none;
} */